.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Font Setup */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, input, button {
    font-family: 'Roboto', sans-serif;
}

.App {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;  /* Darker background for contrast */
    color: white;  /* Light text for dark backgrounds */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-bar {
  display: flex;
  justify-content: center; /* Center the search bar */
  margin: 20px 0; /* Add some vertical spacing */
}

.search-bar input, .search-bar button {
  width: 80%; /* Making input wider */
  max-width: 800px; /* Ensuring it doesn't get too wide on larger screens */
  padding: 10px;
  margin-right: 10px; /* Space between input and button */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  width: auto; /* Adjust width of button to fit content */
  padding: 10px 20px;
  background-color: #4a5568; /* Subdued button color */
  color: white;
}

/* Event Grid Layout Adjustments */
.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

/* Event Card Styling for Hover Effect */
.event-card {
  border: none;
  padding: 16px;
  text-align: left; /* Left-align text for better readability */
  border-radius: 8px;
  background-color: #ffffff; /* White background for a clean look */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.event-card:hover {
  transform: scale(1.05); /* Enlarge card on hover */
  box-shadow: 0 10px 15px rgba(0,0,0,0.1); /* Enhanced shadow on hover */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;  /* Full height */
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.login-container input, .login-container button {
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-container h2, .login-header h1 {
  color: white;
}

.login-header h1 {
  margin: 0;
  padding: 20px;
  font-size: 5em;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type='password'] {
  font-family: 'Courier New', Courier, monospace;
}

.login-container button {
  width: 21%; /* Adjusted to make the button appear smaller and better aligned with the text fields */
  padding: 12px;
  margin-top: 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}


.event-page-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 40px auto;
  padding: 70px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  text-align: center;
  min-height: 50vh;
}

.event-page-container h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.event-page-container p {
  color: #666;
  font-size: 1em;
  margin-bottom: 8px;
  line-height: 1.5;
}

.event-page-container button {
  background-color: #4a5568;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
}

.event-page-container button:hover {
  background-color: #2c5282;
}
